[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = false
name = "pytorch"

[packages]
smart-stock = {editable = true, path = "."}
ipython = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
